
.Board {
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-rows: 1fr 9fr 1fr;
  grid-template-columns: 1fr 9fr 1fr;
  grid-template-areas: 
  "Row-3 Row-3 Row-4"
  "Row-2 . Row-4"
  "Row-2 Row-1 Row-1"
}

#temp-1 {
  grid-area: Row-1;
  background-color: green;
}
#temp-2 {
  grid-area: Row-2;
  background-color: blue;
}
#temp-3 {
  grid-area: Row-3;
  background-color: red;
}
#temp-4 {
  grid-area: Row-4;
  background-color: yellow;
}

.Row {
  display: flex;
  height: 50px;
  width: 600px;
  /* position: absolute;
  top:0;
  left:0; */
}

.Square {
  border: 1px solid black;
  display: inline-block;
  height: 100%;
  width: 50px;
  font-size: 10px;
}

.Row-1 {
  grid-area: Row-1;
  /* transform: translate(60px, 550px); */
}

.Row-2 {
  /* transform-origin: 0%;
  transform: rotate(90deg) translate(50px, -30px); */
  transform: rotate(90deg);
  grid-area: Row-2
}

.Row-3 {
  transform-origin: 0%;
  transform: rotate(180deg) translate(-525px, -5px);
  /* transform: rotate(180deg);
  grid-area: Row-3; */
}

.Row-4 {
  transform-origin: 0%;
  transform: rotate(270deg) translate(-520px, 550px);
  /* grid-area: Row-4; */
}

.User-Portal {
  border: 1px solid black;
  display: inline-block;
  left: 0;
}

button {
  margin: 10px;
  height: 30px;
  width: 60px;
}

table, th, td {
  border: 1px solid black;
}